.educationContainer{
    padding-left: 10rem;
    display: flexbox;
    background-color: rgb(236, 224, 224);
}
.clgimg{
    display: flex;
    flex-direction: row;
}
.heading{
    color: orange;
    font-size: 40px;
}

.educationContainerchild{
    padding-left: 5rem;
}

.collageName a{
    text-decoration: none;
    color: rgb(205, 0, 205);
    font-size: xx-large;
}

.degree {
    color: rgb(221, 92, 221);
    font-size: x-large;
}

.year{
     color: rgb(234, 103, 234);
     font-size: large;
}   