.techContainer{
    padding-left: 7.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: violet;
    
}

.techHeading{
    color: white;
    font-size: 40px;
}

.techContainerChild {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

img{
    width: 6%;
    height: 6%;
    margin: 2%;
}

  @media(
    max-width: 600px
  ){
    techContainerChild{
      width:100%;}
        img{
      width:100%;}
    }
     