.techContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

.techHeading{
    
    color: white;
    font-size: 40px;
}

.techContainerChild {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.techimg{
    width: 6%;
    height: 6%;
    margin: 2%;
}

  @media(
    max-width: 600px
  ){
    .techContainer{
      margin-left: 0;
    }
    .techContainerChild{
      align-items: center;
      width:100%;}
        img{
      width:100%;}
    }
     