.Headcontainer{
    background-image: url(./Content/ImagesCombo/bodygif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.child1{
margin-top:3%;
margin-left: 3%;
width: 100%;
position: relative;
display: flex;
font-size: 2rem;
flex-direction: column;
color: white;

}
hr{
  border: 0.5px solid rgba(255, 255, 255, 0.57);
  width: 80%;
  animation: hr 0.5s ease-out forwards;
}
.child1 h1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    animation: h1 1s ease-out forwards;
    color: rgb(0, 170, 255);
}

.child1 h4 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    animation: h4 1s ease-out forwards;
}

.Description{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.imagepic{
  border-radius: 50%;
  width: 15%;
  height: 60%;
  margin-right: 5%;
  animation: image 1s ease-out forwards;
}
.techdiv{
  /* padding: 5%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.disdiv{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.disdiv1{
  padding: 5%;
  width: 50%;
  background-color:rgba(0, 170, 255, 0.152);
  animation: disdiv1 0.5s ease-out forwards;

}

.disdiv2{
  padding: 5%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.119);
  animation: disdiv2 0.5s ease-out forwards;
}

.techdivH4{
  font-size: 2rem;
  color: rgb(0, 170, 255);
}
.techdes{
  font-size: 30px;
  color: rgb(0, 170, 255);
}
.techdes1{
  font-size: 30px;
  color: white;
}
.techhr{
  margin-top: 5rem;
  border: 0.5px solid rgba(255, 255, 255, 0.57);
  width: 80%;
  animation: hr 0.5s ease-out forwards;
}
button{
  border-radius: 5px;
  width: 10rem;
  padding: 1rem;
  border: 0;
  background-color: rgba(0, 170, 255, 0.532);
  color:white ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.307), 0 6px 20px 0 rgba(0, 0, 0, 0.345);
}
.about{
  border-radius: 0.5rem;
  margin-top: 5rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.555);
  background-color:rgba(255, 255, 255, 0.086);
}

@keyframes disdiv1  {
    from {
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes disdiv2  {
    from {
      opacity: 0;
      transform: translateX(10rem);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

@keyframes h1  {
    from {
      opacity: 0;
      transform: translateX(-6rem);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes hr  {
    from {
      opacity: 0;
      transform: translateX(-6rem);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes h4  {
    from {
      opacity: 0;
      transform: translateX(8rem);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @media(
    max-width: 600px
  ){
    .Headcontainer{
      background-image: url("./Content/ImagesCombo/headergif.gif");
      display: flex;
      flex-direction: column;
      background-color:black;
      border: 2px solid black;
      
    }
 
    .imagepic{
      display: flex;
      justify-content: flex-end;
      width: 50%;
      margin-top: 5%;
      align-self: center;
      
    }
    .child1{
      display: flex;
      margin-left: 0%;
      align-items: center;
      width: 100%;
      font-size: 1.5rem;
    }
    .child1 h1{
      margin-left: 10%;
      color: rgb(0, 170, 255);
    }

    .techdes{
      font-size: 20px;
      color: rgb(0, 170, 255);
    }
    .techdes1{
      font-size: 20px;
      color: white;
    }
    .about{
      margin-top: 10%;
    }
    .techhr{
      margin-top: 10%;
    }
    
  }